* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    text-align: center;
    line-height: 1.5`;
}

header {
    height: 200px;
    background-color: rgb(240, 240, 240);
    vertical-align: center;
}

h1 {
    margin: auto;
}

section {
    height: 200px;
    padding: 10% 0;
    background-color: #bbb;
}

section:nth-child(even) {
    background-color: #ccc;
}