* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

:root {
  --SG-theme: #f60001;
  --TC-theme: #FFCB43;
  --RM-theme: #01638e;
  --PQ-theme: #7f5140;
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --link-color: #rgb(0, 0, 255);
  --font-color: #424242;
  --bg-color: #fff;
  --nav-color: rgb(236, 236, 236);
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --link-color: #ffee00;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --nav-color: #2a2a47;
  --heading-color: #818cab;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  max-width: 100vw;
}

#skittles_text {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  -webkit-animation: rainbow 8s ease infinite;
          animation: rainbow 8s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 320px) {

    blockquote {
        color: var(--font-color);
        font-size: 16px;
        font-family: monospace;
        padding: 45px;
    }

    button {
        border: 2px var(--primary-color) solid;
        background-color: var(--bg-color);
        border-radius: 10px;
        padding: 10px 15px;
        width: 80%;
        color: var(--primary-color);
        cursor: pointer;
        margin-bottom: 20px;
    }

    button:hover,
    button:focus {
        color: var(--bg-color);
        background-color: var(--primary-color);
        -webkit-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    .button-div, #contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1, h2 {
        margin: 30px;
        text-align: center;
    }

    h1 {
        margin-top: 60px;
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
    }

    img {
        width: 100%;
    }

    img.active {
        filter: brightness(100%) saturate(0);
    }

    #intro-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .item-description {
        padding-left: 40px;
        padding-right: 40px;
    }

    .menu_txt {
        display: none;
    }

    #my-work {
        display: none;
    }

    .my-work-nav {
        overflow: hidden;
        margin-bottom: 50px;
    }

    .my-work-nav a {
        float: left;
        color: black;
        background-color: var(--nav-color);
        text-align: center;
        font-size: 17px;
        text-decoration: none;
    }

    .my-work-nav a:hover {
        background-color: lightgray;
        color: black;
    }

    .my-work-nav h2 {
        float: left;
    }

    .my-work-nav #SG.active {
        background-color: var(--SG-theme);
        color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    .my-work-nav #TC.active {
    background-color: var(--TC-theme);
    color: white;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    }

    .my-work-nav #RM.active {
    background-color: var(--RM-theme);
    color: white;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    }

    .my-work-nav #PQ.active {
    background-color: var(--PQ-theme);
    color: white;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    }

    nav {
        width: 100%;
    }

    p {
        margin-bottom: 20px;
    }

    .showcase {
        padding-top: 175px;
    }

    /* The sticky class is added to the header 
    with JS when it reaches its scroll position */
    .sticky {
        position: sticky;
        top: 0;
        right: 0;
        background-color: var(--bg-color);
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    };

    /* Add some top padding to the page content to 
    prevent sudden quick movement (as the header gets 
    a new position at the top of the page (position:fixed 
    and top:0) */
    .sticky + .content {
        padding-top: 102px;
    }

    .svg {
        filter: brightness(0) saturate(100%);
    }

    .theme-switch {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 16px;
    }

    .tech-label {
        background-color: var(--bg-color);
        padding: 5px 10px;
        margin: 2px;
        font-size: smaller;
        border: 1px var(--secondary-color) solid;
    }

    .tech-used-div {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    ul {
        display: flex;
        flex-direction: row-reverse;
    }

    .web {
        display: none;
    }

    .year-created {
     text-align: center;
     font-size: smaller;
     margin-top: -10px;
    }


}

@media only screen and (min-width: 550px) {

    blockquote {
        max-width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

    button {
        max-width: 50%;
    }

    #intro-section {
        display: flex;
    }

    .item-description {
        max-width: 70%;
        margin: auto auto 50px auto;
        /* padding: 0; */
    }

    .left-panel {
        padding: 20px;
    }

    .right-panel {
        padding: 20px;
    }

    .menu_txt {
        display: unset;
        vertical-align: super;
    }

    .my-work-nav {
        margin-bottom: 0;
    }

    .svg {
        height: 50px;
        float: left;
    }


}

@media only screen and (min-width: 800px) {

    body { 
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .hero_sg {
        background-color: var(--SG-theme);
    }

    .hero_tc {
        background-color: var(--TC-theme);
    }

    .hero_rm {
        background-color: var(--RM-theme);
    }

    .hero_pq {
        background-color: var(--PQ-theme);
    }
    
    img {
        width: unset;
        float: unset;
    }

    .menu_txt {
        float: right;
        margin-top: 17px;
        margin-right: 20px;
    }

    #my-work {
        display: unset;
        font-size: 20px;
        margin: 25px;
    }

    .my-work-nav {
        overflow: inherit;
    }

    .my-work-nav a {
        float: right;
        text-align: center;
        padding: 7px 10px;
}

    .primaryShowcaseImage {
        height: -webkit-fill-available;
    }

    .showcase-button {
        max-width: 300px;
    }

    .showcase-content {
        display: flex;
    }

    .svg {
        margin-top: 5px;
    }

}
/* 
    


    
    h1 {
        font-size: 25px;
        margin: 70px auto;
    }
    
    h2 {
        font-size: 20px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 18px;
        font-weight: bolder;
        margin: 0;
    }

    .project_title {
        font-weight: bold;
        font-size: x-large;
    }
    
    main {
        margin-left: auto;
        margin-right: auto;
        min-width: 300px;
        max-width: 80%;
    };
    
    section {
        margin: auto;
        margin-bottom: 100px;
    }

    .theme-switch {
        position: absolute;
        right: 0;
        top: 10%;
        font-size: 16px;
        margin-right: 10%;
    }

    .tech-label {
        color: white;
        background-color: black;
        padding: 2px 10px;
        min-width: 150px;
        border-radius: 10px;
    }

    .dark-label {
        background-color: #2d2d2e;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: white;
        padding-inline-start: 0;
        padding: 0;
    }

    #projects-area > h2 {
        text-align: left;
    }

    .column {
        float: left;
        width: 33.33%;
    };
    
    .contact-me-link:hover,
    .contact-me-link:focus {
        border: rgb(180, 0, 0) 1px solid;
    }
    
    .contact-button {
        margin: 25px auto;
    };

    div.content {
        padding: 16px;
        max-width: 80% !important;
        margin-right: 0;
        text-align: center;
    }

    .hero_sg {
        background-color: var(--SG-theme);
    }

    .hero_tc {
        background-color: var(--TC-theme);
    }

    .hero_rm {
        background-color: var(--RM-theme);
    }

    .hero_pq {
        background-color: var(--PQ-theme);
    }
    
    .dark-mode {
        background-color: black;
        color: white;
    }

    .dark {
        background-color: var();
        color: black;
    }

    .dark-button {
        border: 2px white solid;
        color: white;
    }

    .showcase {
        text-align: left;
        margin-top: 75px;
    }
    
    .showcase_item_buttons_bar {
        margin-bottom: 120px;
    text-align: center
    };

    .primaryShowcaseImage {
        width: 300px;
    };
    
    .showcase_captions {
        font-size: 9px;
        display: flex;
        flex-wrap: wrap;
    };

/* Clear floats after the columns */
/* .row:after {
        content: "";
        display: table;
        clear: both;
    } */

/* .primaryShowcaseImage {
    max-inline-size: -webkit-fill-available;
}

.theme-switch {
    top: 15px;
    right: 15px;
    margin: 0;
}

#intro-section {
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.web {
    display: none;
}

#my-work {
    display: none;
}

.mobile {
    display: inline;
}


@media only screen and (min-width: 550px) {

    .my-work-nav a {
        padding: 14px 16px;
    }

    #my-work {
        display: initial;
    }

    .mobile {
        display: none;
    }

    button {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 7px;
    }

    ul {
        font-size: 13px;
    }

    .web {
        display: none;
    }

    #intro-section {
        text-align: left;
    }

    .primaryShowcaseImage {
        max-inline-size: -webkit-fill-available;
    }

    main {
        width: 90%;
    }

    .theme-switch {
        top: 20px;
        right: 20px;
        margin: 0;
    }

    .left-panel {
        display: unset;
    }

    .right-panel {
        display: unset;
    }

}

@media only screen and (min-width: 800px) {

    li {
        font-size: unset;
    }

    #my-work {
        display: unset;
    }

    .web {
        display: unset;
    }

    body {
        background-color: var(--bg-color);
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    .showcase_content {
        display: flex;
    }

    .fa-linkedin, 
    .fa-envelope-open-text,
    .fa-github {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .title_tech {
        height: 300px;
        min-width: 300px;
    }

    .desc_buttons {
        padding-left: 50px;
    }

    button {
        min-width: unset;
        height: 50px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    main {
        width: 90% !important;
    }

    .contact-button {
        display: grid;
        height: 200px;
        width: 200px;
        font-size: 18px;
        margin: auto 20px;
    }

    .desktop_text {
        display: block;
    }

    .left-panel {
        width: 100%;
        padding-right: inherit;
    }

    .right-panel {
        width: 50%;
        padding-left: inherit;
    }
    
    .primaryShowcaseImage {
        width: 650px;
    }

    #contact-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 200px;
    }

    #intro-section {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
    }  */
/*