* {
    box-sizing: border-box;
}

/* ELEMENTS */ /* ELEMENTS */ /* ELEMENTS */ /* ELEMENTS */ /* ELEMENTS */

a {
    color: blue;
}

a:hover,
a:focus {
    color: rgb(180, 0, 0);
}

body {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    line-height: 1.5;
}

button {
    border: 1px blue solid;
    border-radius: 10px;
    width: 250px;
    height: 75px;
    color: blue;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}

button:hover,
button:focus {
    background-color: blue;
    color: white;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

footer {
    margin-bottom: 30px;
}

h1 {
    font-size: 25px;
    margin: 50px auto;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bolder;
    margin: 0;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

section {
    margin: auto;
    margin-bottom: 100px;
}


/*    ID    */ /*    ID    */ /*    ID    */ /*    ID    */ /*    ID    */

#skittles_text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    
    50% {
        background-position: 100% 25%
    }
    
    100% {
        background-position: 0% 50%
    }
}

/*  CLASS   */ /*  CLASS   */ /*  CLASS   */ /*  CLASS   */ /*  CLASS   */

.contact-me-link:hover,
.contact-me-link:focus {
    border: rgb(180, 0, 0) 1px solid;
}

.contact-button {
    margin: 25px auto;
}

.primaryShowcaseImage {
    width: 300px;
}

.showcase_button {
margin-bottom: 30px;
}

.showcase_captions {
    font-size: 15px;
    margin: 0;
}

.showcase_item_buttons_bar {
    margin-bottom: 120px;
}

@media only screen and (min-width: 320px) {
    body {
        background-color: rgb(240, 241, 255);
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }
}

@media only screen and (min-width: 550px) {
    body {
        background-color: rgb(255, 255, 240);
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }
    
}

@media only screen and (min-width: 800px) {
    body {
        background-color: whitesmoke;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    button {
        height: 50px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    main {
        width: 650px;

    }

    .contact-button {
        margin-bottom: 0px;
    }

    .desktop_text {
        display: block;
    }
    
    .primaryShowcaseImage {
        width: 650px;
    }

    .showcase_item_buttons_bar>button {
        width: 125px;
        margin: 0;
    }

    #contact-section {
        display: flex;
        flex-direction: column;
    }


    #intro-section {
        width: 500px;
        padding-left: 30px;
        padding-right: 30px;
    }

}