* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

:root {
    --SG-theme: #f60001;
    --TC-theme: #FFCB43;
    --RM-theme: #01638e;
    --PQ-theme: #7f5140;
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --link-color: rgb(0, 0, 255);
    --font-color: #424242;
    --bg-color: #fff;
    --nav-color: rgb(236, 236, 236);
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --link-color: #ffee00;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --nav-color: #818cab;
    --heading-color: #818cab;
}

body {
    color: var(--font-color);
    background-color: var(--bg-color);
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    max-width: 100vw;
}

#skittles_text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    -webkit-animation: rainbow 8s ease infinite;
    animation: rainbow 8s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes rainbow {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0 50%;
    }
}

.hide {
    display: none;
}

@media only screen and (min-width: 320px) {

    blockquote {
        color: var(--font-color);
        font-family: monospace;
        font-size: 16px;
        padding: 45px;
    }

    button {
        border: 3px var(--primary-color) solid;
        background-color: var(--bg-color);
        /* border-radius: 10px; */
        padding: 10px 15px;
        width: 80%;
        color: var(--primary-color);
        cursor: pointer;
        margin-bottom: 20px;
    }

    button:hover,
    button:focus {
        color: var(--bg-color);
        background-color: var(--primary-color);
        -webkit-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    .button-div, #contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fab, .fas {
        margin-right: 5px;
    }

    h1 {
        margin-top: 60px;
        font-size: 40px;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
    }

    .hero_image {
        overflow: auto;
    }

    .nick_hero_img {
        width: 300px;
    }

    img {
        max-width: 1200px;
    }

    img.active {
        filter: brightness(100%) saturate(0);
    }

    #intro-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .item-description {
        padding-left: 40px;
        padding-right: 40px;
    }

    .right-panel {
        display: none;
    }

    li {
        border-right: 3px solid var(--bg-color);
    }

    .menu_txt {
        display: none;
    }

    #my-work {
        display: none;
    }

    .my-work-nav {
        overflow: hidden;
        margin-bottom: 50px;
    }

    .my-work-nav a {
        float: left;
        color: black;
        background-color: var(--nav-color);
        text-align: center;
        font-size: 17px;
        text-decoration: none;
    }

    .my-work-nav a:hover {
        background-color: lightgray;
        color: black;
    }

    .my-work-nav h2 {
        float: left;
    }

    .my-work-nav #SG.active {
        background-color: var(--SG-theme);
        color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    .my-work-nav #TC.active {
        background-color: var(--TC-theme);
        color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    .my-work-nav #RM.active {
        background-color: var(--RM-theme);
        color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    .my-work-nav #PQ.active {
        background-color: var(--PQ-theme);
        color: white;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    nav {
        width: 100%;
    }

    p {
        margin-bottom: 20px;
    }

    .showcase {
        padding-top: 175px;
    }

    /* The sticky class is added to the header 
    with JS when it reaches its scroll position */
    .sticky {
        position: sticky;
        top: 0;
        right: 0;
        background-color: var(--bg-color);
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
    }

    /* Add some top padding to the page content to 
    prevent sudden quick movement (as the header gets 
    a new position at the top of the page (position:fixed 
    and top:0) */
    .sticky + .content {
        padding-top: 102px;
    }

    .svg {
        filter: brightness(0) saturate(100%);
        height: 7em;
    }

    .theme-switch {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 16px;
    }

    .tech-label {
        background-color: var(--bg-color);
        padding: 5px 10px;
        margin: 2px;
        border: 1px var(--secondary-color) solid;
    }

    .title_tech {
        margin: 30px;
        text-align: center;
    }

    .tech-used-div {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: row-reverse;
    }

    .web {
        display: none;
    }

}

@media only screen and (min-width: 550px) {

    blockquote {
        max-width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        max-width: 50%;
    }

    #intro-section {
        display: flex;
    }

    .item-description {
        max-width: 70%;
        margin: auto auto 50px auto;
    }

    .left-panel {
        padding: 20px;
    }

    .my-work-nav {
        margin-bottom: 0;
        box-shadow: 0 1em 1em rgba(0, 0, 0, 0.25);
    }

    .svg {
        height: 50px;
        float: left;
    }


}

@media only screen and (min-width: 800px) {

    body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero_sg {
        background-color: var(--SG-theme);
    }

    .hero_tc {
        background-color: var(--TC-theme);
    }

    .hero_rm {
        background-color: var(--RM-theme);
    }

    .hero_pq {
        background-color: var(--PQ-theme);
    }

    .item-description {
        margin-top: 50px;
    }

    .right-panel {
        display: unset;
    }

    #my-work {
        display: unset;
        /*font-size: 20px;*/
        margin: 25px 0 25px 20px;
        font-size: smaller;
    }

    .my-work-nav {
        overflow: inherit;
    }

    .my-work-nav a {
        float: right;
        text-align: center;
        padding: 7px 10px;
    }

    #nick_hero {
        display: unset;
        height: 175px;
        float: left;
    }

    .primaryShowcaseImage {
        overflow: auto;
    }

    .showcase-button {
        max-width: 300px;
    }

    .showcase-content {
        display: flex;
    }

    .svg {
        margin-top: 5px;
    }

}

@media only screen and (min-width: 1000px) {
    .menu_txt {
        display: unset;
        vertical-align: super;
        float: right;
        margin-top: 17px;
        margin-right: 10px;
    }
}